@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using Frontend.Store.Features.Connection.Actions.Connect
@using Frontend.Store.State

@inject IState<ConnectionState> ConnectionState
@inject IDispatcher FluxorDispatcher

<div id="content-root">
    <img src="images/ddlogo.gif" />
    @if (ConnectionState.Value.HasCurrentErrors)
    {
        <span id="connecting-error">Error connecting to Combat Server: @ConnectionState.Value.CurrentErrorMessage</span>
        <div class="button-container" >
            <input type="image" src="images/RedButton.png" @onclick="RetryClick" />
            <div class="button-text" @onclick="RetryClick">
                Retry
            </div>
        </div>
    }
    else
    {
        <span id="connecting-text">Connecting to Combat Server</span>
    }
</div>


@code {
    private void RetryClick()
    {
        FluxorDispatcher.Dispatch(new ConnectAction());
    }
}
