@using Fluxor
@using Frontend.Store.Features.Combat.Actions.RemoveCombatant

@inject IDispatcher FluxorDispatcher

<div class="input-text-container pt-5 pb-2">
    <input class="input-text" placeholder="Name" type="text" @bind-value="@OldCombatantName" />
</div>

<div class="button-container">
    <input type="image" src="images/simpleButton.png" @onclick="RemoveClick" />
    <div class="button-text" @onclick="RemoveClick">
        Remove Combatant
    </div>
</div>

@if (!_oldCombatantNameIsValid)
{
    <div class="form-validation-error">Name Must Not Be Empty</div>
}

@code {
    private bool _oldCombatantNameIsValid = true;

    private string? OldCombatantName { get; set; }

    public void RemoveClick()
    {
        _oldCombatantNameIsValid = !string.IsNullOrEmpty(OldCombatantName);

        if (_oldCombatantNameIsValid)
        {
            FluxorDispatcher.Dispatch(new RemoveCombatantAction(OldCombatantName!));
            OldCombatantName = null;
        }
    }
}
